@model IEnumerable<Servicios.DTO.JuegoDTO>

@{
    ViewBag.Title = "Sorteos";
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.loteria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cifras)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.serial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codigoDeValidacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vendedorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vendedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.totalApuesta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaSorteo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sorteo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.loteria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cifras)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.serial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codigoDeValidacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vendedorId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vendedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.totalApuesta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaSorteo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sorteo)
        </td>
    </tr>
}

</table>
