@model Servicios.DTO.AgenciaDTO

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Agencia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombreRepresentanteLegal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreRepresentanteLegal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cedulaRepresentanteLegal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cedulaRepresentanteLegal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id } ,new { @class = "btn btn-sm btn-success" } ) |
    @Html.ActionLink("Volver al Inicio", "Index", new { id = Model.id } ,new { @class = "btn btn-sm btn-default" } )
</p>
